
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

div.tracebacks {
  /*text-decoration-line: underline;*/
  margin-left: 10%;
  margin-top: 10%;
  max-height: 500px;
  overflow: auto;
  max-width: 80%;
  /* background-color: yellow; */
}

table#students th {
  font-size: 23px;
}

.header {
  
}

table#students {
  font-size: 13px;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  /* color: white; */
}

#students tr.red {
  background-color: red;
  color: white;
}

#students tr.orange {
  background-color:orangered;
  color: white;
}

#students tr.black {
  background-color:orangered;
  color: black;
}

#students tr.blue {
  background-color:blue;
  color: white;
}